<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hii</h1>
<table >

    <thead>
    <tr role="row">
        <th >Id</th>
        <th >Name</th>
        <th >Author</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="Book : ${Books}">
        <td th:text="${Book.id}"></td>
        <td th:text="${Book.name}"></td>
        <td th:text="${Book.author}"></td>

    </tr>

    </tbody>
</table>
</body>
</html>